.scrollable-menu {
    height:400px;
    overflow-y:auto;
}

body {
    background: #F9F6E5;
}
.pagecontent {
    margin: 0%;
    text-align: center;
    padding: 0%;
}

#filter_button{
    width: 20%;
}

#filters_container{
    width: 100%;
    background-color: #F9F6E5;
    padding: 3%;
}

#prefs_container{
    width: 100%;
    background-color: #F9F6E5;
    padding: 2%;
}

#filters_add_course {
    position: absolute;
    left: 200px;
    top: 300px;
}

#filters_remove_course {
    position: absolute;
    left: 200px;
    top: 360px;
}

#filters_reset_everything {
    position: absolute;
    left: 200px;
    top: 420px;
}

/* #preferences_reset_everything {
    position: absolute;
    left: 200px;
    top: 650px;
} */

.jumbotron {
    color: #003057;
}

#positivedetails {
    position: fixed;
    top: 500px;
    left: 50px;
    width: 200px;
    word-wrap:break-word;
    font-family: cursive;
    color: green;
}

#negativedetails {
    position: fixed;
    top: 500px;
    left: 270px;
    width: 200px;
    word-wrap:break-word;
    font-family: cursive;
    color: red;
}

#next {
    position: fixed;
    right: 0;
    bottom: 100px;
}

#prev {
    position: fixed;
    right: 50px;
    bottom: 100px;
}

#pagedetails {
    font-weight: bold;
    font-size: 25px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  circle:hover {
      cursor: pointer;
  }
  