.scrollable-menu {
    height:400px;
    overflow-y:auto;
}

body {
    background: #F9F6E5;
}
.pagecontent {
    margin: 0%;
    text-align: center;
    padding: 0%;
}

#filter_button{
    width: 20%;
}

#filters_container{
    width: 100%;
    background-color: #F9F6E5;
    padding: 3%;
}

#prefs_container{
    width: 100%;
    background-color: #F9F6E5;
    padding: 2%;
}

#filters_add_course {
    position: absolute;
    left: 200px;
    top: 300px;
}

#filters_remove_course {
    position: absolute;
    left: 200px;
    top: 360px;
}

#filters_reset_everything {
    position: absolute;
    left: 200px;
    top: 420px;
}

/* #preferences_reset_everything {
    position: absolute;
    left: 200px;
    top: 650px;
} */

.jumbotron {
    color: #003057;
}

#positivedetails {
    position: fixed;
    top: 500px;
    left: 50px;
    width: 200px;
    word-wrap:break-word;
    font-family: cursive;
    color: green;
}

#negativedetails {
    position: fixed;
    top: 500px;
    left: 270px;
    width: 200px;
    word-wrap:break-word;
    font-family: cursive;
    color: red;
}

#next {
    position: fixed;
    right: 0;
    bottom: 100px;
}

#prev {
    position: fixed;
    right: 100px;
    bottom: 100px;
}